{{ define "main" }}
<div class="listSection">
  <h3>Upcoming Performances</h3>

  {{ $listHasItems := false }}
  <div>
    {{ range (.Data.Pages.ByParam "eventdate") }}
      {{$date := time .Params.eventdate}}
      {{ if eq (printf "%T" $date) "time.Time"}}
        {{ if ge $date.Unix now.Unix }}
          {{ $listHasItems = true }}
          {{ partial "performancecard.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
  {{ if not $listHasItems }}
    <p style="text-align: center">No performances found</p>
  {{ end }}
</div>
<!-- <div class="listSection">
  <h3>Previous Performances</h3>

  {{ $listHasItems = false }}
  <div>
    {{ range (.Data.Pages.ByParam "eventdate").Reverse }}
      {{$date := time .Params.eventdate}}
      {{ if eq (printf "%T" $date) "time.Time"}}
        {{ if lt $date.Unix now.Unix }}
          {{ $listHasItems = true }}
          {{ partial "performancecard.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
  {{ if not $listHasItems }}
    <p style="text-align: center">No performances found</p>
  {{ end }}
</div> -->
{{ end }}
