body {
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', cursive;
  font-weight: 500;
}

#header h1 a {
  display: inline-block;
}

#header h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 48px;
  text-align: center;
  margin: 10px;
  font-weight: 600;
}

#header h1 .header__small{
  font-family: 'Cinzel', cursive;
  font-size: 24px;
  display: block;
  font-weight: 400;
  color: #474747;
}

#header nav {
  position: relative;
}

#header nav::before, #header nav::after{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #474747;
  display: block;
}

#header nav::after {
  top: initial;
  bottom: 0;
}

#header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  margin: 0px;
}

#header nav li {
  list-style: none;
  font-family: 'Cinzel', cursive;
  font-size: 24px;
  margin: 0px 20px;
}

#header nav li a {
  padding: 10px 20px;
}

#header a {
  text-decoration: none;
  color: black;
}

#content {
  flex: 1;
}