<div id="header">
  <h1>
    <a href="{{.Site.BaseURL}}">
      <span class="header__small">The</span>
      <span>Timpanogos</span>
      <span class="header__small">Ringers</span>
    </a>
  </h1>
  <nav>
    <ul>
      <li><a href="{{.Site.BaseURL}}">Home</a></li>
      <li><a href="{{.Site.BaseURL}}performances">Performances</a></li>
      <li><a href="{{.Site.BaseURL}}photos">Photos</a></li>
      <li><a href="{{.Site.BaseURL}}ringers">Ringers</a></li>
      <li><a href="{{.Site.BaseURL}}donors">Donors</a></li>
    </ul>
  </nav>
</div>